__pycache__/
*.py[cod]
data/images/*.jpg
data/images/**/*.jpg
data/images/*.new
data/images/**/*.new
data/images/*.solved
data/images/**/*.solved
data/images/*.wcs
data/images/**/*.wcs
data/logs/*.json
data/logs/*.tmp
